body {
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-base-color:#E8EFF5;
	scrollbar-shadow-color:#B7CFE4;
	scrollbar-face-color:#B7CFE4;
	scrollbar-highlight-color:#6A8FAC;
	scrollbar-darkshadow-color:#6A8FAC;
	scrollbar-3dlight-color:#F3F7FA;
	background-color : #FFFFFF;
}

.inputstyle{
    border-top: 1px solid #819BB2;
    border-bottom: 1px solid #819BB2;
    border-left: 1px solid #819BB2;
    border-right: 1px solid #819BB2;
    background-color: White;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;    
    color: #336699;   
    text-decoration: none;
	background : #FFFFFF;
}
.textbox{
    border-top: 1px solid #819BB2;
    border-bottom: 1px solid #819BB2;
    border-left: 1px solid #819BB2;
    border-right: 1px solid #819BB2;
    background-color: White;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;    
    color: #336699;   
    text-decoration: none;
}
.textfield{
    border-top: 1px solid #819BB2;
    border-bottom: 1px solid #819BB2;
    border-left: 1px solid #819BB2;
    border-right: 1px solid #819BB2;
    background-color: White;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;    
    color: #336699;   
    text-decoration: none;
}
.radiostyle{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #DAEDF8;
}
.checkbox{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.buttonstyle{
    border-top: 1px solid #819BB2;
    border-bottom: 1px solid #819BB2;
    border-left: 1px solid #819BB2;
    border-right: 1px solid #819BB2;
    background-color: #D5DEE6;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;    
    color: #336699;   
    text-decoration: none;
    cursor : hand;
}
.dropdown{
    border-top: 1px solid #819BB2;
    border-bottom: 1px solid #819BB2;
    border-left: 1px solid #819BB2;
    border-right: 1px solid #819BB2;
    background-color: #DDDDDD;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;    
    color: #C20F0F;
    font-weight : bold;
}
.frmBorder{
    background-color: #336699;
}
.frmBackground{
    background-color: #FFFFFF;
}
.frmToolHeader{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #FFFFFF;
	font-weight : bold;	
	background-color : #85ADD6;
	}
.frmHeader{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #48749A;
	font-weight : bold;	
	background-color : #BDD6EC;
}
.frmInput {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #336699;
	line-height : 14px;
	background-color : #DAEDF8;
}
.frmStatus{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #336699;
	line-height : 14px;
	background-color : #BDD6EC;
}
.frmDescription{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #FFFFFF;
	line-height : 14px;
	font-weight : normal;	
	background-color : #85ADD6;
	}	
.frmDescriptionBold{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #FFFFFF;
	line-height : 14px;
	font-weight : bold;	
	background-color : #85ADD6;
	}	
.frmRequired{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #336699;
	line-height : 14px;
	font-weight : bold;	
	background-color : #BDD6EC;
}	
.frmResultsButnBg {	
	background-image : url(../images/fill_butn-results.gif);
}
.frmResultsMain{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #336699;
	line-height : 14px;
	font-weight : bold;	
	background-color : #E2E7EC;
}
.frmResultsSub{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #336699;
	line-height : 14px;
	font-weight : bold;	
	background-color : #F0F5FA;
}				
.frmResultsTxtOutput{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #336699;
	line-height : 14px;
	font-weight : normal;
	}	
.frmTxtWhite{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #FFFFFF;
	line-height : 14px;
	font-weight : normal;
	}								
.frmTxtBlue {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #336699;
	line-height : 14px;	
	font-weight : normal;
}
.frmTxtBlueBold {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #336699;
	line-height : 14px;	
	font-weight : bold;
}
.frmButton {
border: 1px outset;
cursor: pointer;
font-size:9;
font-weight: normal;
color: #666666;
margin: 0px 0px 0px 1px;
padding: 1px 1px 1px 1px;
background-image: url(../images/bg_button.gif);
backgroung-image: repeat-x;
width:60px;
}
.frmButtonLong {
border: 1px outset;
cursor: pointer;
font-size:9;
font-weight: normal;
color: #666666;
margin: 0px 0px 0px 1px;
padding: 1px 1px 1px 1px;
background-image: url(../images/bg_button.gif);
backgroung-image: repeat-x;
width:110px;
}
.frmButtonLonger {
border: 1px outset;
cursor: pointer;
font-size:9;
font-weight: normal;
color: #666666;
margin: 0px 0px 0px 1px;
padding: 1px 1px 1px 1px;
background-image: url(../images/bg_button.gif);
backgroung-image: repeat-x;
width:140px;
}

.changeForm .textbox, .changeForm select { width:96%;}

.cp {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #336699;
    word-break: break-word;
}

.maincontent{ width:100%;}

.calendarsmal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: #FFFFFF;
}

.calendarbold {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bolder;
    color: #000066;
}

A.linkevent:link {
    text-decoration: none;
}
a {
    color: #000066;
}
.changeForm .textbox{ width:94%;}
.changeForm .textfield{ width:97%;}

.loginForm .textbox{ width:98%;}

.frmBorder {
    background-color: #336699;
    line-height: 0;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.changeForm{ }
.changeForm {
    border: 1px solid;
}

.searchForm{ border: 1px solid;}

.text-blue-500{ text-decoration:none;}
.child-event {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 6px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 9px;
}

.child-event:last-child{ border-bottom:0;}